
@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.icon {
  width: 25px;
}

/* ESTILIZAÇÃO DO HEADER */

header {
  background-color: #24252a;
  box-shadow: 0px 3px 10px #141414;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    width: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #0187a7;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button:hover button {
  background-color: #0186a7bc;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* ESTILIZAÇÃO DO HEADER ACABA AQUI */


body {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  background-color: #28292f;
}

.hide {
  display: none;
}

.no-style {
  text-decoration: none;
}

a:not(.no-style), input[type="submit"]:not(btn-form) {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.7;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

a:hover,
input[type="submit"] {
  opacity: 1;
}

main {
  margin-top: 120px;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: #28292f;
}


.hero {
  margin: 0 auto;
  max-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #0187a7; */
  padding: 1px 35px;
  margin-bottom: 10px;
  color: #fff;
  
}

.hero2 {
  box-shadow: 0px 3px 10px #141414;
  margin-bottom: 80px;
  transition: all 0.5s;
}

.hero2:hover {
  box-shadow: 0px 3px 10px #141414;
  margin-bottom: 80px;
  transform: scale(1.03);
}

#home-button {
  margin-top: 50px;
  padding: 10px;
  width: 80%;
  font-size: large;
  font-weight: bolder;
  color: #fff;
  background-color: #0187a7;;
  border: none;
  border-radius: 5px;
}

#home-button:hover {
  background-color: #0186a7bc;
}


#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  display: block;
  justify-content: center;
  align-items: center;
}

.container-title {
  margin-bottom: 10px;
  /* color: #0187a7; */
}

.container-img{
  /* width: 40%; */
  max-width: 50%;
}


/* GRID DE IMAGENS */


.grid-img {
  width: 80%;
}

#grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px 0;
  place-items: center;
}

.grid1, .grid2, .grid3 {
  width: 70%;
  background-color: #24252a;
  box-shadow: 0px 3px 10px #141414;
  padding: 45px 20px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.5s;
}

.grid1:hover, .grid2:hover, .grid3:hover {
  transform: scale(1.05);
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  background-color: #24252a;
  /* box-shadow: 0px 3px 10px #141414; */
  box-shadow: 2px -8px 13px -4px rgba(20,20,20,0.78);
  
}

legend {
  font-size: x-large;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
  font-size: large;
  margin: 10px;
  width: 100%;
}

form {
  background-color: #f6f3f3;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

input:not(.btn-form ){
  width: 95%;
  height: 1.4rem;
}

.user {
  display: block;
  justify-content: space-around;
}

/* .send-message {

} */

.btn-form {
  width: 100%;
  background-color: #0187a7;
}

.btn-form:hover {
  background-color: #0186a7bc;
}

.line {
  width: 90%;
  opacity: 0.2;
}


span {
  color: #fff;
  margin: 15px;
}

.linkedin {
  color: #fff;
}

.social {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 30px;
}

.media {
  margin: 20px 40px;
  width: 45px;
  cursor: pointer;
}



@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}


/*** FEITO POR: LARISSA V. KICH ***/